@import url(https://fonts.googleapis.com/css?family=Lato:300,700,900&display=swap);

.wrapper {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  line-height: 160%;
  color: #424551;
}


.task {
  font-weight: 900;
  font-size: 30px;
  line-height: 130%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ccc;
}

.container {
  max-width: 830px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 100px;
}

.article-item__top {
  margin-bottom: 38px;
}

.article-img {
  max-width: 810px;
  width: 100%;
  margin-bottom: 60px;
}

.article-subtitle,
.article-blockquote {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

.article-subtitle,
.article-text {
  margin-bottom: 24px;
}

.article-blockquote__text {
  background: url("../img/braces.svg") 0 0 no-repeat;
  padding-left: 58px;
}

.article-items,
.article-blockquote {
  margin-bottom: 48px;
}

.article-list {
  margin-bottom: 25px;
}

.article-list li {
  background: url("../img/vector.svg") 0 6px no-repeat;
  padding-left: 30px;
  margin-bottom: 15px;
}

.article-text__footer {
  padding-bottom: 100px;
}

.about-title__top {
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 40px;
  margin-bottom: 15px;
  color: #1E212C;
}

.about-title {
  margin-bottom: 50px;
  text-transform: capitalize;
}

.about-list li {
  background: url("../img/vector.svg") 0 6px no-repeat;
  padding-left: 30px;
  margin-bottom: 15px;
}

.about-list {
  margin-bottom: 48px;
}

.button {
  width: 161px;
  height: 44px;
  background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: none;
  border-radius: 4px;
  margin-bottom: 40px;
}

.button-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 3.1;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.container-drivel {
  max-width: 1180px;
  width: 100%;
}

.drivel-item {
  max-width: 1180px;
  width: 100%;
  height: 300px;
}

.drivel-items .drivel-images {
  max-width: 1180px;
  width: 100%;
  height: 126px;
}

.drivel-images-6,
.drivel-images-7,
.drivel-images-11,
.drivel-images-12,
.drivel-images-13,
.drivel-images-14,
.drivel-images-15,
.drivel-images-16,
.drivel-images-17,
.drivel-images-18,
.drivel-images-19 {
  height: 63px;
}

.drivel-img-1 {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  background-color: rgb(117, 160, 221, 0.9);
}

.drivel-img-2 {
  background-color: rgb(120, 168, 234);
}

.drivel-img-3 {
  background: -moz-linear-gradient(top, rgba(38, 199, 239, 0.67) 1%, rgba(38, 199, 239, 0.66) 5%, rgba(116, 198, 230, 0.65) 13%, rgba(145, 198, 227, 0.96) 16%, rgba(184, 198, 223, 0.97) 20%, rgba(165, 198, 165, 0.98) 22%, rgba(142, 171, 182, 1) 31%, rgba(127, 152, 193, 1) 37%, rgba(119, 143, 198, 0.98) 40%, rgba(123, 154, 170, 0.93) 50%, rgba(128, 168, 134, 0.84) 63%, rgba(132, 178, 107, 0.85) 73%, rgba(177, 195, 208, 0.87) 86%, rgba(184, 198, 223, 0.87) 88%);
  background: -webkit-linear-gradient(top, rgba(38, 199, 239, 0.67) 1%, rgb(120 165 247) 5%, rgba(116, 198, 230, 0.65) 13%, rgba(145, 198, 227, 0.96) 16%, rgba(184, 198, 223, 0.97) 20%, rgba(165, 198, 165, 0.98) 22%, rgba(142, 171, 182, 1) 31%, rgba(127, 152, 193, 1) 37%, rgba(119, 143, 198, 0.98) 40%, rgba(123, 154, 170, 0.93) 50%, rgba(128, 168, 134, 0.84) 63%, rgba(132, 178, 107, 0.85) 73%, rgba(177, 195, 208, 0.87) 86%, rgba(184, 198, 223, 0.87) 88%);
  background: linear-gradient(to bottom, rgb(120 165 247) 1%, rgb(120 166 238) 5%, rgb(120 172 223) 13%, rgb(140 169 183) 16%, rgb(120 187 169) 20%, rgba(165, 198, 165, 0.98) 22%, rgba(142, 171, 182, 1) 31%, rgba(127, 152, 193, 1) 37%, rgba(119, 143, 198, 0.98) 40%, rgb(122 195 164) 50%, rgb(121 192 166) 63%, rgba(132, 178, 107, 0.85) 73%, rgb(141 204 177) 86%, rgb(134 201 172) 88%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab26c7ef', endColorstr='#deb8c6df', GradientType=0);
}

.drivel-img-4 {
  background: -moz-radial-gradient(center, ellipse cover, rgba(119, 143, 198, 0.96) 1%, rgba(119, 143, 198, 0.96) 5%, rgba(119, 143, 198, 0.96) 8%, rgba(119, 143, 198, 0.96) 16%, rgba(119, 143, 198, 0.99) 45%, rgba(119, 162, 185, 1) 52%, rgba(119, 196, 160, 0.98) 65%, rgba(184, 198, 223, 0.94) 88%, rgba(184, 198, 223, 0.93) 91%, rgba(184, 198, 223, 0.87) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(119, 143, 198, 0.96) 1%, rgba(119, 143, 198, 0.96) 5%, rgba(119, 143, 198, 0.96) 8%, rgba(119, 143, 198, 0.96) 16%, rgba(119, 143, 198, 0.99) 45%, rgba(119, 162, 185, 1) 52%, rgba(119, 196, 160, 0.98) 65%, rgba(184, 198, 223, 0.94) 88%, rgba(184, 198, 223, 0.93) 91%, rgba(184, 198, 223, 0.87) 100%);
  background: radial-gradient(ellipse at center, rgb(122 163 186) 1%, rgb(121 152 193) 5%, rgb(121 151 195) 8%, rgb(122 177 177) 16%, rgb(129 155 192) 45%, rgb(125 150 194) 52%, rgb(134 201 172) 65%, rgb(141 203 174) 88%, rgb(134 201 172) 91%, rgb(136 202 173) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5778fc6', endColorstr='#deb8c6df', GradientType=1);
}

.drivel-images-5 {
  background: url("../img/4.jpg") repeat;
}

.drivel-images-6 {
  background: url("../img/4.jpg") no-repeat, url("../img/8.jpg") 10% repeat;
}

.drivel-images-7 {
  background: url("../img/4.jpg") repeat-x, url("../img/8.jpg") 10% repeat;
}

.drivel-images-8 {
  background: url("../img/4.jpg") repeat-y, url("../img/8.jpg") 10% repeat;
}

.drivel-images-9 {
  background: url("../img/4.jpg") space, url("../img/8.jpg") 10% repeat, url("../img/9.jpg") 1161px 220px / 1162px 560px repeat;
}

.drivel-images-10 {
  background: url("../img/4.jpg") round, url("../img/9.jpg") 1161px 220px / 1162px 560px repeat;
}

.drivel-images-11 {
  background: url("../img/4.jpg") 0 0 no-repeat, url("../img/9.jpg") 1160px 1041px / 1160px 1090px repeat
}

.drivel-images-12 {
  background: url("../img/4.jpg") top left no-repeat, url("../img/9.jpg") 1160px 979px / 1160px 1090px repeat
}

.drivel-images-13 {
  background: url("../img/4.jpg") 50% no-repeat, url("../img/22.jpg") 2px 863px / 1156px 1090px repeat;
}

.drivel-images-14 {
  background: url("../img/4.jpg") center no-repeat, url("../img/22.jpg") 2px 800px / 1156px 1090px repeat;
}

.drivel-images-15 {
  background: url("../img/4.jpg") 0 50% no-repeat, url("../img/9.jpg") 115% 819px / 100% 1090px repeat;
}

.drivel-images-16 {
  background: url("../img/4.jpg") left center no-repeat, url("../img/9.jpg") 115% 757px / 100% 1090px repeat;
}

.drivel-images-17 {
  background: url("../img/4.jpg") 100% 100% no-repeat, url("../img/9.jpg") 115% 694px / 100% 1090px repeat;
}

.drivel-images-18 {
  background: url("../img/4.jpg") bottom right no-repeat, url("../img/9.jpg") 115% 631px / 100% 1090px repeat;
}

.drivel-images-19 {
  background: url("../img/4.jpg") 25% 25% no-repeat, url("../img/9.jpg") 107% 568px / 100% 1090px repeat;
}

.drivel-img-20 {
  background: url("../img/over.png") 0 -20% no-repeat scroll, url("../img/9.jpg") 652% 254% / 100% 253% repeat;
}

.drivel-img-21 {
  background-image: url("../img/over.png");
  background-repeat: no-repeat;
  background-position: 0 74%;
  background-attachment: scroll;
}

.drivel-img-22 {
  color: rgba(38, 101, 266, 35);
  text-shadow: 3px 1px 7px #ff0000;
  background: url("../img/over.png") 37% 130% no-repeat fixed;
}